<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/userDash.css" />     
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>  
     <%- include('../partials/navbar') %>
    <div class="d-flex justify-content-center mt-5">
        <h1 class="head">My Account</h1>
    </div>
    <div class="container">
        <section class="container p-4 d-flex">
            <div class="col-md-2 col-lg-2 col-12 px-0  sidebar">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3  text-white">
                    <ul class="nav nav-pills flex-column mb-sm-auto  align-items-center align-items-sm-start" id="menu">
                        <!-- <li class="nav-item mt-2 text-center text-sm-start mb-2">
                            <a href="#" data-bs-toggle="collapse" class="nav-link px-0">
                                <img src="images/prfle.jpeg" class="rounded-circle col-6" style="max-width: 150px;" alt="">
                            </a>
                        </li> -->
                        <li class="nav-item mt-2 text-center text-sm-start mb-2">
                            <a href="#" data-bs-toggle="collapse" class="nav-link px-0">
                                <div class="image-container">
                                    <img src="<%= userData.userImage.secure_url %>" class="rounded-circle col-6" style="max-width: 150px;" alt="">
                                    <div class="camera-icon" id="cameraIcon">
                                        <i class="fas fa-camera"></i>
                                    </div>
                                </div>
                            </a>
                            <input type="file" id="imageInput" style="display: none;">
                        </li>                        
                        
                        <li class="nav-item mt-2">
                            <a href="#dashboard" class="nav-link align-middle px-0" id="dashLink">
                                <span class="ms-1 d-sm-inline active">Dashboard</span>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="#orders" class="nav-link px-0" id="ordersLink" >
                                <span class="ms-1 d-sm-inline">Orders</span>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="#address" id="addressLink" class="nav-link px-0" onclick="scrollToSection('#address')">
                                <span class="ms-1 d-sm-inline hide-on-small">Address</span>
                            </a>
                        </li>
                        <li class="mt-2">
                            <a href="#wallet" class="nav-link px-0" id="walletLink"  onclick="scrollToSection('#wallet')">
                                <span class="ms-1 d-sm-inline hide-on-small">Sneak Wallet</span>
                            </a>
                        </li>
                        <li class="mt-4 align-middle">
                            <form action="/logout" method="get">
                                <button class="bg-dark text-light btn" type="submit">Logout</button>
                            </form>
                            
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            
                <%- include('./userPart/dashboard') %>
                
                <%- include('./userPart/orders') %>
                <%- include('./userPart/wallet') %>
                
                <%- include('./userPart/address') %>

             

        </section>
        
        
    </div>
    
    <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="userAddAddressForm">
                        <div class="mb-3">
                            <label for="name"  class="form-label">Name</label>
                            <input type="text" class="form-control" id="name1" name="name"  required>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" name="country" required>
                        </div>
                        <div class="mb-3">
                            <label for="streetAddress" class="form-label">Street Address</label>
                            <input type="text" class="form-control" id="streetAddress" name="streetAddress" required>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city" required>
                        </div>
                        <div class="mb-3">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state" name="state" required>
                        </div>
                        <div class="mb-3">
                            <label for="pincode" class="form-label">Pincode</label>
                            <input type="number" class="form-control" id="pincode" name="pincode" required>
                            <p id="pincodeValidate" class="text-danger"></p>
                        </div>
                        <input type="hidden" id="userId" name="addressId" value="">
        
                        <button type="submit" class="btn btn-dark" onclick="addAdd('<%= userData._id %>')"  >Add Address</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
      
        
<div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAddressModalLabel">Edit Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editAddressForm">
                        <div class="mb-3">
                            <label for="name"  class="form-label">Name</label>
                            <input type="text" class="form-control" id="name2" name="name"  required>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country2" name="country" required>
                        </div>
                        <div class="mb-3">
                            <label for="streetAddress" class="form-label">Street Address</label>
                            <input type="text" class="form-control" id="streetAddress2" name="streetAddress" required>
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city2" name="city" required>
                        </div>
                        <div class="mb-3">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state2" name="state" required>
                        </div>
                        <div class="mb-3">
                            <label for="pincode" class="form-label">Pincode</label>
                            <input type="number" class="form-control" id="pincode2" name="pincode" required>
                            <p id="pincodeValidate" class="text-danger"></p>
                        </div>
                        <input type="hidden" id="userId2" name="addressId" value="">
        
                        <button type="submit" class="btn btn-dark" id="editButton" >Add Address</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="javascripts/userDash.js"></script>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-xx8mTjPwAQh65+gJxR4NTPHQEZ7LODm4Q5OrOTMmLsftrHY2Cb1f3X2sf1xs1eaC" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
</body>
</html>