<section id="coupen" class="content" style="display: none;">
    <div class="flex justify-between items-center">
        <h1 class="font-semibold text-3xl">Coupons</h1>
        <!-- Button to Trigger Modal -->
        <button
          id="openModalbtn"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#addCouponModal"
        >
          ADD COUPON
        </button>
      </div>
      
    <div class="bg-white rounded-lg border mt-5 overflow-x-auto">
      <table class="table table-responsive">
        <thead class="bg-lightGray">
          <tr>
            <th class="text-xs font-semibold text-darkGray px-6 py-2 text-left">COUPON CODE</th>
            <th class="text-xs font-semibold text-darkGray px-6 py-2 text-left">EXPIRY DATE</th>
            <th class="text-xs font-semibold text-darkGray px-6 py-2 text-center">AMOUNT</th>
            <th class="text-xs font-semibold text-darkGray px-6 py-2 text-center">MIN PURCHASE</th>
            <th class="text-xs font-semibold text-darkGray px-6 py-2 text-center">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
      
          <!-- Dummy Data Row 1 -->
          <% CoupenData.forEach((data, index) => { %>
          <tr>
            <td class="text-sm text-darkGray px-6 py-4 whitespace-nowrap  text-truncate "  style="white-space: nowrap;max-width: 100px; text-overflow: ellipsis;" ><%= data.couponCode %></td>
            <td class="text-sm text-darkGray px-6 py-4 whitespace-nowrap"><%= formatDate(data.expiryDate) %></td>
            <td class="text-sm text-darkGray font-semibold px-6 py-4 text-center"><%= data.discountAmount %></td>
            <td class="text-sm text-darkGray font-semibold px-6 py-4 text-center"><%= data.minPurchase %></td>
            <td class="px-6 py-4 text-center">
              <button class="editBtn"><i class="bi bi-pencil-square text-darkGreen"data-bs-toggle="modal"
                data-bs-target="#editCouponModal" onclick="editCoup('<%= data._id %>')"></i></button>
              <button class="dltBtn"><i class="bi bi-trash text-darkRed ml-3" onclick="coupDel('<%= data._id %>')"></i></button>
            </td>
          </tr>
          <% } )%>
        </tbody>
      </table>
    </div>
  </section>
  
  <!-- Add this modal code at the bottom of your HTML file, just before the closing </body> tag -->

  <div class="modal fade" id="addCouponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title font-semibold text-2xl">Add Coupon</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCouponForm" action="/addCoupon" method="post">
                    <!-- Coupon Code -->
                    <div class="mb-4">
                        <label for="couponCode" class="form-label">Coupon Code</label>
                        <input type="text" id="couponCode" name="couponCode" placeholder="Coupon code" class="form-control">
                        <p class="text-danger" id="coup1"></p>
                    </div>
                    <!-- Expiry Date -->
                    <div class="mb-4">
                        <label for="expiryDate" class="form-label">Expiry Date</label>
                        <input type="date" id="expiryDate" name="expiryDate" class="form-control">
                        <p class="text-danger" id="coup2"></p>
                    </div>
                    <!-- Amount -->
                    <div class="mb-4">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" id="amount" name="amount" placeholder="Amount" class="form-control">
                        <p class="text-danger" id="coup4"></p>
                    </div>
                    <!-- Minimum Purchase -->
                    <div class="mb-4">
                        <label for="minPurchase" class="form-label">Minimum Purchase</label>
                        <input type="number" id="minPurchase" name="minPurchase" placeholder="Minimum purchase" class="form-control">
                        <p class="text-danger" id="coup3"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                        <button type="submit" form="addCouponForm" class="btn btn-primary">ADD COUPON</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="editCouponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title font-semibold text-2xl">Edit Coupon</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
         
          <div class="modal-body">
              <form  action="/editCoupon" method="post">
                <input type="hidden" id="coupId1" name="coupId"  class="form-control">
                  <!-- Coupon Code -->
                  <div class="mb-4">
                      <label for="couponCode" class="form-label">Coupon Code</label>
                      <input type="text" id="couponCode1" name="couponCode" placeholder="Coupon code" class="form-control">
                      <p class="text-danger"  id="errorCoupon3"></p>
                  </div>
                  <!-- Expiry Date -->
                  <div class="mb-4">
                      <label for="expiryDate" class="form-label">Expiry Date</label>
                      <input type="date" id="expiryDate1" name="expiryDate" class="form-control">
                     
                  </div>
                  <!-- Amount -->
                  <div class="mb-4">
                      <label for="amount" class="form-label">Amount</label>
                      <input type="number" id="amount1" name="amount" placeholder="Amount" class="form-control">
                      <p class="text-danger" id="errorCoupon2"></p>
                  </div>
                  <!-- Minimum Purchase -->
                  <div class="mb-4">
                      <label for="minPurchase" class="form-label">Minimum Purchase</label>
                      <input type="number" id="minPurchase1" name="minPurchase" placeholder="Minimum purchase" class="form-control">
                      <p class="text-danger"  id="errorCoupon"></p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                      <button type="submit"  class="btn btn-primary" id="editCouponForm" >ADD COUPON</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>




<% function formatDate(date) {
  const createdDate = new Date(date);
  return createdDate.toDateString();
} %>