<div id="dashboard" class="content" >
    <section class="col py-3 " >
      <div class="d-flex justify-content-end" style="margin-right: 20px;">
        <a href="/salesReportManagement" class="btn-shine" target="_blank">Download Sales Report</a>
      </div>
      <h3 class="ms-4">Overview</h3>
      
      <div class="row">
          <div id="ov-p-1" class="ms-4 mt-3 col-6 col-lg-3 col-md-4 d-flex justify-content-center align-items-center" >
            <label >Today's Order
            <br>
            <p class="justify-content-center d-flex mt-2 fs-2 d-flex justify-content-center align-items-center"><%= todaysOrders %></p>
          </label>
          </div>
          <div id="ov-p-2" class="ms-4 mt-3 col-lg-3 col-md-4 col-6 d-flex justify-content-center align-items-center">
            <label >Total Orders
              <br>
              <p class="justify-content-center d-flex mt-2 fs-2 d-flex justify-content-center align-items-cente"><%= totalOrders %></p>
            </label>
          </div>
          
          <div id="ov-p-3" class="ms-4 mt-3 col-lg-3 col-md-4 col-6 d-flex justify-content-center align-items-center">
            <label >Total Sales
              <br>
              <p class="justify-content-center d-flex mt-2 fs-2 d-flex justify-content-center align-items-cente">₹<%= totalSales[0].totalAmount.toFixed(2) %>
              </p>
            </label>
          </div>
      </div>
  
      <div class="col py-3 mt-4">
        <div class="d-none" id="backendData" data-total-products="<%= dailySales[1].todays %>" data-total-orders="<%= totalOrders %>" data-total-sales="<%= totalSales[0].totalAmount %>" data-weekly-sales="<%= weeklySales %>" data-todays-orders="<%= todaysOrders %>" data-daily-orderss="<%=dailyOrdersCountLastSevenDays%>"></div>
        
        <div id="chart"></div>

    </div>
      <div class="col py-3 mt-4">
          <h3 class="ms-4">Recent Orders</h3>
          <div class="ms-4 mt-2">
            <table class="table table-responsive">
              <thead>
                  <tr>
                      <th>ORDER ID</th>
                      <th>ORDER DATE</th>
                      <th>SHIPPING ADDRESS</th>
                      <th>PAYMENT METHOD</th>
                      <th>ORDER AMOUNT</th>
                      <th>STATUS</th>
                  </tr>
              </thead>
              <tbody>
                  <% recentOrders.forEach((order, index) => { %>
                  <tr >
                      <td><%= String(order._id).slice(-6) %></td>
                      <td><%= formatDate(order.createdOn) %></td>
                      <td><%= order.shippingAddress.streetAddress %></td>
                      <td><%= order.paymentMethod %></td>
                      <td>$<%= order.subtotals %>.00</td>
                      <td data-bs-toggle="tooltip" data-bs-placement="top" title="<%= order.status %>">
                          <span class="badge <%= (order.status == 'Pending') ? 'bg-warning' : (order.status === 'Delivered') ? 'bg-success' : 'badge-other' %> text-dark">
                            <%= order.status  %>
                          </span>
                        </td>
                                                                                                                           
                  </tr>
                  <% }) %>
              </tbody>
          </table>
          <% function formatDate(date) {
              const createdDate = new Date(date);
              return createdDate.toDateString();
          } %>
          </div>
      </div>
  </section>
</div>