<div id="orders" style="display: none;" class="content col py-3 ">
    <h1>Orders</h1>
    <div class="container mt-5">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>ORDER ID</th>
                    <th>ORDER DATE</th>
                    <th>SHIPPING ADDRESS</th>
                    <th>PAYMENT METHOD</th>
                    <th>ORDER AMOUNT</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <% orderData.forEach((order, index) => { %>
                <tr>
                    <td><%= String(order._id).slice(-6) %></td>
                    <td><%= formatDate(order.createdOn) %></td>
                    <td><%= order.shippingAddress.streetAddress %></td>
                    <td><%= order.paymentMethod %></td>
                    <td>$<%= order.subtotals %>.00</td>
                    <td data-bs-toggle="tooltip" data-bs-placement="top" title="<%= order.status %>">
                        <span class="badge <%= (order.status === 'Pending') ? 'bg-warning' : (order.status === 'Delivered') ? 'bg-success' : (order.status === 'Cancelled') ? 'bg-secondary' : 'badge-other' %> text-dark">
                          <%= order.status %>
                        </span>
                      </td>

                      <td>
                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#changeStatusModal" onclick="changeSts('<%= order._id %>')">
                            <i class="bi bi-pencil-square"></i> 
                        </button>
                    </td>
                                                                                                                         
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% function formatDate(date) {
            const createdDate = new Date(date);
            return createdDate.toDateString();
        } %>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
              <% } %>
              <li class="page-item disabled">
                <span class="page-link">Page <%= currentPage %> of <%= totalOrderPages %></span>
              </li>
              <% if (currentPage < totalOrderPages) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
    </div>
  </div>

  

  <!-- Modal for changing delivery status -->
<div class="modal fade" id="changeStatusModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Delivery Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="deliveryStatus" class="form-label">Select Delivery Status:</label>
                        <select class="form-select" id="deliveryStatus">
                            <option value="Delivered">Delivered</option>
                            <option value="Pending">Pending</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateDeliveryStatus()">Save changes</button>
            </div>
        </div>
    </div>
</div>
