
<div id="products" class="content ">
    <section class="col py-3 " id="products-sec"  style="display: none;">
      <h3 class="ms-4">Products</h3>
      <div class=" ms-3 ">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <!-- <div class="input-group input-group-lg mt-3">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="inputGroup-sizing-sm" />
              <button type="button" class="btn btn-dark">search</button>
            </div> -->
           </div>

           <div class="col-md mt-3 ms-5">
              <div >
               
                <button id="showAddProductForm" class="btn btn-dark btn-lg ">Add Product</button>

                
              </div>
           </div>
        </div>
      
      </div>
     
      
     
    </section>
    <section class="ms-3 mt-5 bg-none" id="product-data" style="display: none;">
      <table class="table">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">PRODUCT NAME</th>
            <th scope="col">CATEGORY</th>
            <th scope="col">PRICE</th>
            <th scope="col">STOCK</th>
            <th scope="col">STATUS</th>
            <th scope="col">DISCOUNT</th>
            <th scope="col">ACTIVE</th>
            <th scope="col">ACTION</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% productData.forEach((user, index) => { %>
        <tbody >
          <tr class="bg-white">
            <th scope="row" > <img src="<%= user.productImages[0].secure_url %>" alt="hugenerd" width="30" height="30" class="rounded-circle"></th>
           
            <td style="white-space: nowrap;max-width: 100px; text-overflow: ellipsis;" class="text-center text-truncate " ><%= user.productTitle %></td>
            <td><%= user.productCategory %></td>
            <td><%= user.productPrice %></td>
            <td><%= user.stock %></td>
            <td data-bs-toggle="tooltip" data-bs-placement="top" title="<%= (user.stock !== 0) ? 'In Stock' : 'Out of Stock' %>">
              <span class="badge <%= (user.stock !== 0) ? 'bg-success text-dark' : 'bg-danger text-dark' %>">
                <%= (user.stock !== 0) ? 'In Stock' : 'Out of Stock' %>
              </span>
            </td>
            
            
            
            <td><%= user.discount %></td>
            <td>
              <% if (user.isListed) { %>
                <span class="badge bg-success">Yes</span>
              <% } else { %>
                <span class="badge bg-danger">No</span>
              <% } %>
            </td>
            
            <td> <button type="submit" class="btn"  >
              <i class="fa-solid fa-trash-can fa-lg" onclick="editUsers('<%= user._id %>')" style="color: #41c8b8;"></i>
            </button>
          </td>
          <td id="btnEdit">
            <button  type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editProductModal" onclick="editUser('<%= user._id %>')">
              <i class="fas fa-edit fa-lg"  style="color: #cf3a3a;"></i>
            </button>
          </td>
          
          </tr>
          <!-- More rows here -->
        </tbody>
        <% }) %>  
      </table>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <% if (currentPages > 1) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPages - 1 %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          <% } %>
          <li class="page-item disabled">
            <span class="page-link">Page <%= currentPages %> of <%= totalOrderPagess %></span>
          </li>
          <% if (currentPages < totalOrderPagess) { %>
            <li class="page-item">
              <a class="page-link" href="?page=<%= currentPages + 1 %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          <% } %>
        </ul>
      </nav>
    </section>
    
  </div>
  
  <div id="addProduct" class="contents" style="display: none;">
    <div  tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div >
        <div class="col-md-6">
          <div class="modal-header">
            <h1 class="modal-title font-semibold text-2xl">Add Product</h1>
          </div>
          <div class="modal-body">
           
            <form action="/admin-add-product" method="post" id="ProForm" enctype="multipart/form-data">
              <!-- images simple upload -->
              <div class="mb-4">
                <label for="productImages" class="form-label">Product Images</label>
                <input type="file" id="productImages" name="productImages" class="form-control" multiple>
                <small class="text-muted">(Only *.jpg, *.jpeg, *.png and *.webp images are accepted)</small>
              </div>
              <div id="imagePreview" class="mb-4">
                <!-- Image previews will be displayed here -->
            </div>
              <!-- product title -->
              <div class="mb-4">
                <label for="productTitle" class="form-label">Product Title</label>
                <input type="text" required id="productTitle" value="" name="productTitle" placeholder="Product title" class="form-control">
                <p id="error-message1" style="color: red;"></p>
              </div>
             
              <!-- product category -->
              
                <div class="mb-3" >
                  <label class="form-label">Category</label>
                  <select class="form-select" id="category" name="productCategory" required>
                      <option value="" disabled selected>Select a category</option>
                      <% categoryData.forEach((category) => { %>
                          <option value="<%= category.categoryName%>"><%= category.categoryName %></option>
                      <% }); %>
                  </select>
          
              </div>
              <!-- product price -->
              <div class="mb-4">
                <label for="productPrice" class="form-label">Product Price</label>
                <input type="number" required id="productPrice" name="productPrice" placeholder="Product price" class="form-control">
                <p id="error-message2" style="color: red;"></p>
              </div>
              <div class="mb-4">
                <label class="form-label">Sizes (Select multiple)</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sizes" id="size5" value="5">
                    <label class="form-check-label" for="size5">Size 5</label>
                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sizes" id="size6" value="6">
                    <label class="form-check-label" for="size6">Size 6</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sizes" id="size7" value="7">
                    <label class="form-check-label" for="size7">Size 7</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sizes" id="size8" value="8">
                    <label class="form-check-label" for="size8">Size 8</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sizes" id="size9" value="9">
                    <label class="form-check-label" for="size9">Size 9</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sizes" id="size10" value="10">
                    <label class="form-check-label" for="size10">Size 10</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sizes" id="size11" value="11">
                    <label class="form-check-label" for="size11">Size 11</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sizes" id="size12" value="12">
                    <label class="form-check-label" for="size12">Size 12</label>
                </div>
                <p id="error-message3" style="color: red;"></p>
            </div>
            
              <!-- Sale price -->
              <div class="mb-4">
                <label for="discount" class="form-label">Discount</label>
                <input type="number" id="discount" name="discount" placeholder="Discount" class="form-control">
                <p id="error-message4" style="color: red;"></p>
              </div>
              <!-- stock -->
              <div class="mb-4">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" required id="stock" name="stock"  placeholder="Stock" class="form-control">
                <p id="error-message5" style="color: red;"></p>
              </div>
              <div class="modal-footer">
                <button type="submit" id="addProBtn" class="btn btn-primary">ADD PRODUCT</button>
                <button id="cancelModalBtn" type="reset" class="btn btn-secondary">CANCEL</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
</div>

<%- include('./edituser') %>

