<section id="wallet" style="display: none;" class="flex-grow-1" >
<div class="container  ">
    <h1 class="d-flex justify-content-center">wallet</h1>

    <div class="wallet-container">

		<div class="amount-box text-center">
			<img src="https://lh3.googleusercontent.com/ohLHGNvMvQjOcmRpL4rjS3YQlcpO0D_80jJpJ-QA7-fQln9p3n7BAnqu3mxQ6kI4Sw" alt="wallet">
			<p>Total Balance</p>
			<p class="amount">$ <%= walletData.balance %></p>
		</div>

		<div class="btn-group text-center">
			<button type="button" class="btn btn-secondary">Purchase</button>
			</div>

			<div class="txn-history">
				<p><b>History</b></p>
				<% walletData.transactions.forEach(transaction => { %>
				  <p class="txn-list"><%= transaction.type === 'deposit' ? 'Deposit' : 'Purchase' %> - <%= transaction.amount %><span class="<%= transaction.type === 'deposit' ? 'credit-amount' : 'debit-amount' %>">
					<%= transaction.type === 'deposit' ? '+$' : '-$' %><%= transaction.amount %></span>
				  </p>
				<% }); %>
			  </div>
			  
            </div>
</div>
</section>